# Index URL for PyTorch packages
--index-url https://download.pytorch.org/whl/cu121

# Install torch and torchaudio from the specific index URL
torch
torchaudio

# Additional dependencies
numpy
opencv-python
paddlepaddle
paddleocr
ultralytics
pillow
flask
werkzeug

# Specific version of torchvision with a specific URL
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.16.0+cu121