numpy
opencv-python
paddlepaddle
paddleocr
ultralytics
pillow
flask
werkzeug

# Index URL for PyTorch packages
-f https://download.pytorch.org/whl/cu121
torch
torchaudio

# Specific version of torchvision with a specific URL
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.18.0+cu121
